* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart {
    padding: 20px;
}

.emptycart {
    text-align: center;
    margin-top: 5%;
    font-weight: 600;
    font-size: 2rem;
    animation: dangle 2s ease-in-out infinite, colorChange 3s linear infinite;
    transform-origin: top center;
}

@keyframes dangle {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(5deg);
    }
}

@keyframes colorChange {
    0% {
        color: red;
    }
    25% {
        color: #efc8b1;
    }
    50% {
        color: #302f2f;
    }
    75% {
        color: #5c4335c2;
    }
    100% {
        color: #ebb595c2;
    }
}

.cartItems {
    padding: 20px;
    position: relative;
}

.point {
    position: absolute;
    background-color: #302f2f;
    color: white;
    width: 3%;
    height: 6vh;
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 19px;
    display: flex;
    justify-content: center;
    top: 19%;
    left: 4%;
    cursor: pointer;
    z-index: 1000;
}

.priceTag {
    position: relative;
    margin-bottom: 3%;
}

#h2 {
    text-align: center;
    border-bottom: #e67f40 solid 2px;
    margin-bottom: 2%;
}

#itemimage {
    width: 30%;
}

.tag {
    background: linear-gradient(to bottom, #e67f40, #fdb489c2);
    color: #302f2f;
    position: absolute;
    bottom: 10%;
    left: 2%;
    width: 25%;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tag p {
    padding-right: 10px;
}

h3 {
    font-size: 1.2rem;
    padding-inline: 10px;
    padding-block: 5px;
}

.features strong {
    background-color: #271b14c2;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1rem;
    margin-top: 10%;
    padding-block: 10px;
    padding-inline: 15px;
    border-radius: 15px;
}

.features ul {
    line-height: 2rem;
    font-size: 1.1rem;
    padding: 10px;
}

.promo {
    margin-top: 30px;
    border: 2px solid #4e3b30c2;
    border-radius: 15px;
    width: 35%;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1.2rem;
    position: relative;
}

.promo input {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    outline: none;
}

.promo input:focus {
    outline: none;
    color: #5c4335c2;
}

.promo button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 700;
    position: absolute;
    right: 1%;
}

.buyNowBtn {
    width: 35%;
    height: 9vh;
    border-radius: 15px;
    text-align: center;
    border: none;
    background-color: #4e3b30c2;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    margin-block: 10px;
    cursor: pointer;
}

#buybtn:hover {
    background-color: #a1806dc2;
}



@media (max-width: 890px) {
    #itemimage {
        width: 60%;
    }

    .point {
        width: 5%;
        height: 5vh;
        font-size: 1.6rem;
        border-radius: 22px;
        top: 13%;
        left: 6%;
    }

    .tag {
        width: 55%;
        bottom: 5%;
        left: 3%;
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.4rem;
        padding-inline: 13px;
        padding-block: 9px;
    }

    .promo,
    .buyNowBtn  {
        width: 53%;
    }
}
 

@media (max-width: 480px) {
    #itemimage {
        width: 100%;
    }

    .point {
        width: 8%;
        height: 6vh;
        border-radius: 24px;
        top: 13%;
        left: 12%;
    }

    .tag {
        width: 94%;
    }

    .features {
        margin-top: 9%;
        
    }

    .features strong {
        width: 50%;
        font-size: 1.5rem;
    }

    .features ul {
        font-size: 1.1rem;
    }

    .promo,
    .buyNowBtn {
        width: 100%;
        margin-inline: 0;
        margin-block: 10px;
    }

    .promo button {
        font-size: 1.1rem;
    }

}

@media (max-width: 390px) {
    .point {
        width: 10%;
        height: 6vh;
        left: 15%;
        top: 15%;
        padding: 5px;
    }

    .promo  {
        border-radius: 10px;
        padding: 6px;
        margin: 0%;
    }

    .promo button {
        font-size: 0.8rem;
    }
}

@media (max-width: 320px) {
    .cart {
        padding: 1px;
    }

    .point {
        width: 10%;
        height: 8vh;
        left: 15%;
        top: 20%;
        padding: 3px;
    }

    .promo  {
        justify-content: center;
        border-radius: 10px;
        padding: 6px;
    }

    .promo button {
        font-size: 0.7rem;
    }
} 