* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.changepassword_pg {
    background-color: #EFC8B121;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.top {
    display: flex;
    gap: 35%;
}

#arrow {
    background-color: #2e241dc2;
    color: #efc8b1;
    width: 3%;
    height: 5vh;
    border-radius: 30px;
    font-size: 1.5rem;
    margin-left: 20px;
    margin-top: 0px;
    font-weight: 700;
    cursor: pointer;
}

#topH3 {
    font-size: 2.3rem;
    margin-block-end: 40px;
}

#form_pg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

#form_pg_label {
    font-size: 1.3rem;
    padding: 7px;
    text-align: left;
}

#form_pg_input {
    background-color: #f1c5a9c2;
    width: 100%;
    height: 7vh;
    border-radius: 5px;
    border: none;
    margin-block-end: 40px;
    font-size: 1.3rem;
    padding: 10px;
}

#form_pg_submitbtn {
    width: 50%;
    padding-block: 3%;
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 10px;
    background-color: #9a7b6ac2;
    border: 2px solid #efc8b1c2;
    color: #eaad8ac2;
    cursor: pointer;
}

button:hover {
    background-color: #d5b9aac2;
    border: 2px solid #1a1919c2;
    color: #221d1ac2;
}

@media (max-width: 770px){
    h3 {
        font-size: 3rem;
    }

    #form_pg_label {
        font-size: 1.9rem;
    }

    #form_pg_submitbtn {
        width: 80%;
        padding-block: 5%;
        font-size: 1.8rem;
    }
}

@media (max-width: 480px) {
    .top {
        display: flex;
        gap: 2%;
    }
    
    #arrow {
        width: 7%;
    }

    #form_pg {
        width: 90%;
        margin: 10px;
    }

    #form_pg_input {
        height: 9vh;
        font-size: 1.8rem;
    }

    #form_pg_label {
        font-size: 2.3rem;
    }
}